extends layout

block content
    
    //- div.container
    //-     div.row
    //-         h1 Edit below
    //-         form.form-inline.text-center(action="/edit/#{task.id}" method="post")
    //-             div.form-group#my-form-group
    //-                 label.sr-only New Task
    //-                 div.input-group
    //-                     input.form-control(type="text" placeholder="New Task" name="newTaskString" value="#{task.task_name}")
    //-                 div.input-group
    //-                     input.form-control(type="text" placeholder="Task deadline" name="newTaskDeadline" value="#{task.task_date}")
    //-                 button.btn.btn-primary(type="submit") Edit task
    
                
    div.row
        div.table-wrapper.col-sm-8.col-sm-offset-2
            table.table.table-bordered.table-striped
                tr
                    th #
                    th Todo task
                    th When
                    th Confirm 
                    th Cancel
            
                tr 
                    td= task.id
                    form(action="/edit/#{task.id}" method="post")
                        td
                            input(type="text" placeholder="#{task.task_name}" name="newTaskString" value="#{task.task_name}")
                        td
                            input(type="text" placeholder="#{task.task_date}" name="newTaskDeadline" value="#{task.task_date}")
                        td
                            button.btn.btn-sm.btn-success(type="submit") Submit
                    td 
                        a(href="/")
                            button.btn.btn-sm.btn-danger(type="submit") Cancel                               
                                
